In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "Elsi3delutima",
    port= 3306,    
    database = "gudang",
    buffered = True
)

In [3]:
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

#mycursor.execute("CREATE DATABASE brg_Gudang")

In [4]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('gudang',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)
('testdb',)

In [5]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE products (id_product INT AUTO_INCREMENT PRIMARY KEY,nama_product VARCHAR(255), category_id INTEGER(10))")
mycursor.execute("CREATE TABLE categories (id_categories INT AUTO_INCREMENT PRIMARY KEY, nama_kategori VARCHAR(255))")

In [8]:
mycursor = mydb.cursor()

sql = "INSERT INTO categories (id_categories, nama_kategori) VALUES (%s, %s)"
#val = ("1", "Peralatan Mandi")
#val = ("2", "Mie Instan")
#val = ("3", "Olahan Daging")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [9]:
mycursor = mydb.cursor()

sql = "INSERT INTO products (nama_product, category_id) VALUES (%s, %s)"
val = [
  ('Sampo', 1),
  ('Sikat Gigi', 1),
  ('Indomi', 2),
  ('Mie sedap', 2),
  ('Nuget', 3)
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

5 was inserted.

In [32]:
mycursor = mydb.cursor()

sql2 = "SELECT \
    id_categories,\
    nama_kategori,\
    GROUP_CONCAT(DISTINCT nama_product\
        ORDER BY nama_product)\
FROM\
    categories\
        INNER JOIN\
    products ON products.category_id = id_categories GROUP BY id_categories ORDER BY id_categories, nama_kategori;"
  
mycursor.execute(sql2)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Peralatan Mandi', 'Sampo,Sikat Gigi')
(2, 'Mie Instan', 'Indomi,Mie sedap')
(3, 'Olahan Daging', 'Nuget')